.spinner-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.settings-container {
  padding: 20px;
}

.settings-section {
  margin-bottom: 20px;
  padding: 20px;
}

.full-width {
  width: 100%;
}

.actions {
  text-align: right;
  margin-top: 20px;
}
