.user-details-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #ffffff;
  padding: 18px;
  box-sizing: border-box;
  overflow-y: auto;
  font-family: Inter, sans-serif;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
  margin-bottom: 18px;
  border-bottom: 1px solid #e5e7eb;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
  color: #111827;
}

/* CIRCLE CLOSE BUTTON */
.close-btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f3f4f6;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  transition: all 0.2s ease;
}

/*  ICON CENTER FIX */
.close-btn mat-icon {
  font-size: 20px;
  line-height: 1;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 !important;
}

/* HOVER EFFECT */
.close-btn:hover {
  background: #d21919;
}

.close-btn:hover mat-icon {
  color: #ffffff;
}

/* INFO */
.info {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.info-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 12px;
  background: #f9fafb;
  border-radius: 8px;
  font-size: 14px;
  color: #374151;
  border: 1px solid #eef2f7;
  transition: 0.2s;
}

.info-row:hover {
  background: #f3f6fb;
  border-color: #1976d2;
}

.info-row span:first-child {
  font-weight: 600;
  color: #111827;
}

/* EMPTY */
.no-user {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #6b7280;
  font-size: 14px;
  text-align: center;
  padding: 20px;
  border: 1px dashed #d1d5db;
  background: #f9fafb;
  border-radius: 10px;
}

/* REMOVE MATERIAL + BROWSER BORDER / OUTLINE */
.close-btn {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}

/*REMOVE FOCUS BORDER */
.close-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* REMOVE MATERIAL RIPPLE EFFECT BORDER */
::ng-deep .mat-mdc-icon-button .mdc-button__ripple {
  display: none !important;
}

/* REMOVE MATERIAL FOCUS RING */
::ng-deep .mat-mdc-icon-button .mat-mdc-focus-indicator {
  display: none !important;
}


