<mat-sidenav-container class="dashboard-container">

  <!-- LEFT SIDEBAR -->
  <mat-sidenav mode="side" opened class="sidebar">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <!-- MAIN CONTENT -->
  <mat-sidenav-content class="content-area">

    <!-- TOOLBAR -->
    <app-toolbar></app-toolbar>

    <!-- PAGE CONTENT -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

  <!-- RIGHT SIDENAV (USER DETAILS) -->
  <mat-sidenav
    #userDetailsSidenav
    mode="over"
    position="end"
    class="user-details-sidenav"
    [disableClose]="true">

    <app-user-details-sidenav
      [user]="_sidenavUser">
    </app-user-details-sidenav>

  </mat-sidenav>

</mat-sidenav-container>
