<div class="calendar-page">

  <!-- Top Header -->
  <div class="calendar-header">
    <div>
      <h2>Project Calendar</h2>
      <p>Manage tasks and events</p>
    </div>

    <!-- Year Selector -->
    <div class="year-box">
      <span class="year-label">Year</span>

      <select
        class="year-select"
        [value]="currentYear"
        (change)="changeYear($event)"
      >
        <option *ngFor="let y of years" [value]="y">
          {{ y }}
        </option>
      </select>
    </div>
  </div>

  <!-- Calendar -->
  <div class="calendar-wrapper">
    <full-calendar #calendarRef [options]="calendarOptions"></full-calendar>
  </div>

</div>
